<!DOCTYPE html>
<html lang="ko">
<th:block th:fragment="headerFragment">
    <!-- 상단 헤더 -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- (모바일) 사이드 메뉴 여닫이 버튼 -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <!-- 전적 검색창 -->
        <form action="/summoner" method="get"
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <!-- 전적 검색 : 입력 텍스트칸 -->
                <input type="text" class="form-control bg-light border-0 small" placeholder="소환사명을 입력해주세요"
                       aria-label="Search" aria-describedby="basic-addon2" name="summonerName">
                <!-- 검색 아이콘 전체영역 -->
                <div class="input-group-append">
                    <!-- 검색 버튼 네모박스 -->
                    <button class="btn btn-primary" type="submit">
                        <!-- 검색 버튼 돋보기 아이콘 -->
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- 전적 검색창 끝 -->
    </nav>
    <!-- 상단헤더 끝 -->
</th:block>
</html>