<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.pinkward.bushgg.domain.member.mapper.MemberMapper">

	<!-- select 태그를 이용하여 전체멤버 조회를 위한 SQL 매핑 -->
	<select id="findByAll" resultType="MemberDTO">
		SELECT loginId, nickName, email, role, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
	</select>

	<!-- insert 태그를 이용하여 멤버 생성 -->
	<insert id="create" parameterType="MemberDTO">
		INSERT INTO member(		loginId,
							    nickName,
							    passwd,
							    email,
						   		role)
		VALUES(#{loginId}, #{nickName}, #{passwd}, #{email},'유저')
	</insert>

	<!-- 아이디와 비밀번호로 찾기 -->
	<select id="findByIdAndPasswd" resultType="MemberDTO">
		SELECT loginId, nickName, email, role, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE loginId = #{loginId} AND passwd = #{passwd}
	</select>

	<!--  비밀번호 찾기 -->
	<select id="findByPasswd" resultType="MemberDTO">
		SELECT loginId, nickName, passwd, email, role, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE loginId = #{loginId} AND nickName = #{nickName} AND email = #{email}
	</select>

	<!-- 벨류값이 들어간 닉네임 정보 출력 -->
	<select id="findBySearchNick" parameterType="string"
		resultType="MemberDTO">
		SELECT loginId,nickName,email, role, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		<where>
			<if test="type != null and type == 'nickName'">
				and nickName LIKE '%' || #{value} || '%'
			</if>
		</where>
	</select>

	<!-- 로그인한 아이디로 닉네임변경 -->
	<update id="updateNickName" parameterType="MemberDTO">
		UPDATE member
		SET nickName = #{nickName}
		WHERE loginId = #{loginId}
	</update>

		<!--
	<select id="findBySearchNick" parameterType="string"
		resultType="MemberDTO">
		SELECT loginId, nickName, email, role, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE nickName = #{value}
	</select> -->
	
	<select id="existsByLogin" resultType="boolean">
    SELECT COUNT(*) 
    FROM member 
    WHERE loginId = #{loginId}
	</select>
	
</mapper>