<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- css -->
    <th:block th:replace="common/fragments/config :: configFragment" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <!-- 컨텐츠 전체영역 -->
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- 로그인 이미지 -->
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="/img/member/login.jpg" alt="">
                            </div>
                            <!-- 로그인 이미지 -->
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <!-- 로그인 페이지 타이틀 -->
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                                    </div>

                                    <!-- 로그인 폼태그 -->
                                    <form class="user" method="post" action="/member/login">
                                        <!-- 아이디 -->
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="loginId" name="loginId" aria-describedby="loginIdHelp"
                                                   placeholder="아이디를 입력하세요." th:value="${userId != null ? userId : ''}">
                                        </div>
                                        <!-- 아이디 끝 -->

                                        <!-- 패스워드 -->
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="passwd"  name="passwd" placeholder="비밀번호를 입력하세요.">
                                        </div>
                                        <!-- 패스워드 끝 -->

                                        <!-- 아이디 저장 -->
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <!-- 아이디 저장 체크박스 -->
                                                <input type="checkbox" class="custom-control-input" id="customCheck"  name="saveId" th:checked="${userId != null}">
                                                <label class="custom-control-label" for="customCheck">
                                                    아이디 저장
                                                </label>
                                            </div>
                                        </div>
                                        <!-- 아이디 저장 끝 -->

                                        <!-- 로그인 버튼 -->
                                        <input type="submit" value="로그인" class="btn btn loginBtn">
                                        <!-- 로그인 -->

                                        <!-- 구분선 -->
                                        <hr>

                                        <!-- 구글 로그인 -->
                                        <a href="/login2" class="btn googleBtn">
                                            <i class="fab fa-google fa-fw"></i> Google로 로그인
                                        </a>

                                    </form>
                                    <!-- 로그인 전체영역 -->
                                    <hr>

                                    <!-- 로그인하기 -->
                                    <div class="text-center">
                                        <a class="login_bushgg" th:href="@{/member/register}">계정을 만드세요!</a>
                                    </div>
                                    <!-- 회원가입 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

 <!--   자바 스크립트 -->
    <th:block th:replace="common/fragments/script :: scriptFragment"/>

</body>

</html>