<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- css -->
    <th:block th:replace="common/fragments/config :: configFragment" />
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img src="/img/member/register.jpg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <!-- 개인정보 입력 전체영역 -->

							<form class="user" method="post" action="/member/register" th:action="@{/member/register}" th:object="${memberDTO}">

								<div class="form-group row">
								   <div class="col-sm-6 mb-3 mb-sm-0">
									   <input type="text" class="form-control form-control-user" id="loginId"
											  th:field="*{loginId}" th:errorclass="text-danger" placeholder="아이디">
									   <div class="errors">
										   <div class=errorBox>
											   <p th:class="error" th:errors="*{loginId}">입력 오류메시지</p>
										   </div>
										   <div class=errorBox>
											   <p id="loginIdError" th:class="error"></p>
										   </div>
									   </div>
								   </div>

								   <div class="col-sm-6">
									   <input type="text" class="form-control form-control-user"
											  th:field="*{nickName}" placeholder="닉네임">
									   <div class="errors">
										   <div class=errorBox>
											   <p class="error" th:errors="*{nickName}">입력 오류메시지</p>
										   </div>
										   <div class=errorBox>
											   <p id="nickNameError" th:class="error"></p>
										   </div>
									   </div>
								   </div>
							   </div>

								<div class="form-group">
									<input type="email" class="form-control form-control-user"
										   th:field="*{email}" placeholder="이메일">
									<div class="errors">
										<div class=errorBox>
											<p class="error" th:errors="*{email}">입력 오류메시지</p>
										</div>
										<div class=errorBox>
											<p id="emailError" th:class="error"></p>
										</div>
									</div>
								</div>

                                <div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											   th:field="*{passwd}" placeholder="비밀번호">
										<div class="errors">
											<div class=errorBox>
												<p class="error" th:errors="*{passwd}">입력 오류메시지</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											   th:field="*{checkpasswd}" placeholder="비밀번호 확인">
										<div class="errors">
											<div class=errorBox>
												<p class="error" th:errors="*{checkpasswd}">입력 오류메시지</p>
											</div>
											<div class=errorBox>
												<p th:if="${checkPasswordError}" th:class="error" th:text="${checkPasswordError}">비밀번호 확인 오류</p>
											</div>
										</div>
									</div>
								</div>

                                <input type="submit" value="회원가입" th:value="#{member.button.register}" class="btn reigserBtn">
								<div class="errors">
									<div class="errorBox">
	          						 	<p th:if="${duplicateWarning}" th:class="error" th:text="${duplicateWarning}">회원 가입 중복 경고</p>
									</div>
								</div>
                                <!-- 구분선 -->
                                <hr>

                                <!-- 구글 회원가입 버튼 -->
                                <a href="/login2" class="btn googleBtn">
                                    <i class="fab fa-google fa-fw"></i> Google로 회원가입
                                </a>
							</form>
                            <hr>

                            <!-- 로그인하기 -->
                            <div class="text-center">
                                <a class="login_bushgg" th:href="@{/member/login}">이미 계정이 있나요? 로그인!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- 자바 스크립트 -->
    <th:block th:replace="common/fragments/script :: scriptFragment"/>

</body>
</html>