<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <th:block th:replace="common/fragments/config :: configFragment" />
    <link rel="stylesheet" href="/css/board-detail.css">
    <link rel="stylesheet" href="/css/board-detail_media.css">
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- 왼쪽 사이드바  -->
        <th:block th:replace="common/fragments/side :: sideFragment" />

        <!-- 메인 컨텐츠 전체영역 -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- 검색창 -->
            <th:block th:replace="common/fragments/header :: headerFragment"/>

            <!-- 게시판 헤더 -->
            <section class="article">
                <div class="articleHeder">
                    <div class="category">
                        <strong th:text="${articleDTO.boardId == 20 ? '자유게시판' : (articleDTO.boardId == 30 ? '공지사항' : '')}">카테고리</strong>
                    </div>
                    <div class="titleArea">
                        <h3 class="titleText" th:text="${articleDTO.subject}">제목 내용입니다?제목 내용입니다?제목 내용입니다?</h3>
                    </div>
                    <div class="nickBox">
                        <button id="" class="nickname" th:text="${articleDTO.writer}"> 홍길동 </button>
                    </div>
                    <div class="articleInfoBox">
                        <div class="articleInfo">
                            <span class="date" th:text="${articleDTO.regdate}">2023-09-04</span>
                            <span class="count" th:text="'조회:'+ ${articleDTO.hitcount}">조회 15</span>
                        </div>
                        <div class="commentCount">
                            <span class="titleText">💬</span>
                            <span class="titleText" th:text=" '댓글:'+${countComments} + '개'">댓글 ?개 </span>
                        </div>
                    </div>
                </div>

                <!-- 게시판 -->
                <div class="card shadow">
                    <div class="card-body">
                        <div class="content" rows="10">
                           <p th:text="${articleDTO.content}">댓글내용</p>
                        </div>
                    </div>
                 </div>
                    <div class="commentCountBox">
                        <h5 class="titleText">💬</h5><h5 class="titleText" th:text=" '댓글:'+${countComments} + '개'"></h5>
                    </div>

                <div class="commentBox">
                    <ul class="list-group commentList">
                        <li class="list-group-item CommentItem" th:each="comment : ${comments}">
                            <span th:text="${comment.writer}"></span>
                            <div class="commentTextBox">
                                <p>
                                    <span th:text="${comment.content}">Lorem</span>
                                </p>
                                <div class="commentInfoBox">
                                    <span class="comment_info_date" th:text="${comment.regdate}"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="commentWriter" action="/board/detail/comment" method="post">
                        <div class="commentInBox">
                            <textarea class="form-control" placeholder="댓글을 남겨보세요" rows="5" name="comment"></textarea>
                            <p th:error="*{comments}" style="color: red;"></p>
                        </div>
                        <div class="register d-flex justify-content-end mt-2">
                            <button type="submit" class="regiserBtn">등록</button>
                        </div>
                   </form>
                </div>

                <!-- 게시판 하단 & 페이지 -->
                <div class="aritcleBottom">
                    <div class="leftArea">
                        <a href="javascript:window.history.back();" class="btn bottomBtn" type="button"><i class="fas fa-list"></i></a>

                    </div>
                    <div class="rightArea">
                        <a href="/article/register" th:href="${session.loginMember != null ? '/board/register' : '/member/login'}" class="btn bottomBtn" type="button">글쓰기</a>
                        <a href="#" class="btn bottomBtn" type="button">TOP</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- 자바 스크립트 -->
    <th:block th:replace="common/fragments/script :: scriptFragment"/>

</body>
</html>