/* 게시글 영역*/
.boardRegister{
  margin-bottom: 3rem;
}

/* 게시글 헤더 */
.boardRegisterHeder{
  display: grid;
  padding: 0rem 1.25rem;
  height: 200px;
  align-content: space-between;
  background-image: url('../img/illust/illust_1.jpg');
  background-position: center;
  background-size: cover;
  color:#fff;

}
.title{
  margin-top: 1.25rem;
}

/*게시글 작성*/
.writeBody{
    margin: 1.25rem;

    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.writingHeader{
  display: flex;
  margin-bottom:10px;
  justify-content: space-between;
}

.category {
  word-wrap: normal;
  border-radius: 10px;
}

.registerBtn{
  background-color: #03c75a;
  border-radius: 1rem;
}
.registerBtn:hover{
  color:#fff;
  background-color: #03b000;
}
