/*게시판 테이블의 카드가 padding 1.25rem을 주므로 헤더,바텀 등 통일*/

/*게시판 헤더*/

.title{
  margin-top: 1.25rem;
}
.boardHeder{
  display: grid;
  padding: 0rem 1.25rem;
  height: 200px;
  align-content: space-between;
  background-image: url('../img/illust/illust_1.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
}
.boardHederBtn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

/* 게시판 */
.boardBody {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .tableHederBtn{
    display: flex;
    justify-content: end;
    padding-bottom: 1.25rem;
  }
table {
  border-collapse: separate;
  border: 2px solid #000000;
  border-radius: 30px;
  overflow: hidden;
}

.table thead th {
  background-color: #e3e6f0;
  text-align: center;
  border-bottom: 1px solid #000000;
}

#dataTable_filter{
  display:flex;
  justify-content: flex-end;
}

.table-bordered td {
  border-bottom: 1px solid #e3e6f0;
  text-align: center;
}

.trs :hover{
  background-color: #e3e6f0;
}

/* 추천글일시 제목 옆에 나오는 이미지*/
.best{
  margin-right:10px;
  width:30px;
  height:30px;
}

/* 게시판 하단*/

.boardBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.boardSearch{
  display: flex;

}

/*게시판 버튼들*/
.writeBtn{
  background-color: #03c75a;
  border-radius: 1rem;
  padding: 7.5px 12px 4.5px;
}
.writeBtn:hover{
  color:#fff;
  background-color: #03b000;
}

.bestBtn{
  background-color: #ff0000;
  border-radius: 1rem;
  padding: 7.5px 12px 4.5px;
}
.bestBtn:hover{
  color:#fff;
  background-color: #dd0000;
}

.boardSearchBtn{
  color: #000000;
  border-radius: 50%;
}

.boardSearchBtn:hover{
  background-color: #e3e6f0;
}

.prevBtn{
  width: 39.6px;
  height: 38px;
  color: #000000;
  border-radius: 50%;
  padding: 0px;
  text-align: center;
}

.prevBtn:hover{
  background-color: #e3e6f0;
}

.nextBtn{
  width: 39.6px;
  height: 38px;
  color: #000000;
  border-radius: 50%;
  padding: 0px;
  text-align: center;
}

.nextBtn:hover{
  background-color: #e3e6f0;
}

.listBtn{
  width: 39.6px;
  height: 38px;
  color: #000000;
  border-radius: 50%;
  padding: 0px;
  text-align: center;
}

.listBtn:hover{
  background-color: #e3e6f0;
}


.board_subject{
  color:#0f6848;
}
