h1 , h3 , p{
  margin:0;
}


/* 도전과제명 */
.rank_profile {
  border-radius: 20px;
  margin: 0 auto;
  width: 90%;
  background-color: #312a32;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 20px
}

.rank_profile_img img {
  width: 130px;
  height: 130px;
}

/*도전과제명 텍스트*/
.rank_profile_text{
  color: #fff;
  font-weight: bold;
}

/*도전과제 랭크 등급 텍스트*/
.rank_profile_rank{
  color: rgba(255, 255, 255, 0.59);
}


/* 도전과제명 전체영역 */
.rank_prifile_text_wrap {
  margin-left: 20px;
}

/* 도전과제 설명 텍스트 */
.rank_profile_rank{
  margin-top:5px;
}


/* 랭크 컨텐츠 전체영역 */
.rank_wrap {
  display:flex;
  margin:10px auto 0 auto;
  width: 90%;
  /* background-color: aquamarine; */
}

/* 랭크 리스트 전체영역 */
.rank_list_wrap{
  width: 100%;
  margin: 10px auto;
  border: 1px solid #312a32;
  border-radius: 10px;
  padding: 20px;
}

/* 랭크 리스트 1개 전체영역 */
.rank_list {
  margin: 5px auto 5px auto;
  width: 100%;
  height: 80px;
  background-color: #b3b3b32b;
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
}

/* 랭크 리스트 헤더에는 배경효과 미지정 */
.rank_list_header{
  background-color: #312a32;
  font-size:20px;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
}

/*랭크 리스트 헤더 전체 폰트색상 */
.rank_list_header p{
  color:#fff;
}

.rank_list_header h1{
  color:#fff;
}

/* 랭크 리스트  영역 전체 div */
.rank_flex{
  width:25%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(11, 186, 255); */
}

.rank_flex p{
  width:100%;
  text-align: center;
}

.rank_name{
  width:40%;
}
/* 도전과제 전체영역 */
.rank_img{
  width:10%;
  
}



/* 도전과제 이미지 사이즈 */
.rank_img img {
  width: 50px;
  border-radius:50%;
  border:2px solid #000;
}




/* 도전과제 이름 */
.rank_name{
  margin:0 0 0 20px;
  font-size:20px;
  font-weight: bold;
}




