a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000000;
    text-decoration: none;

}

.garen{
    position:absolute;
    width:100%;
    left:0;
    height:186px;
    top:calc(50% - 83px);
    /*animation-iteration-count: infinite;*/
    /*animation-name: rotate;*/
    /*animation-duration: 10s;*/
    /*border-radius: 50%;*/
}

@keyframes rotate {

    0%{
        left:0;
    }

    100%{
        left:100%;
    }


}
.loading_wrap{
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 1;
    width:100%;
    height:100%;
}

/*로딩창*/
#link {
    position:fixed;
    color: #E45635;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}

#link:hover {
    color: #2b2b2b;
}

#link, #link:hover {
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}



@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.loading-container,
.loading {
    height: 100px;
    position: fixed;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
    width: 100px;
    border-radius: 100%;
}


.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}

.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue, " Helvetica ", " "arial";
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}

/* 왼쪽 사이드바 로고 전체 영역 */
.nav-link2 {
    position: relative;
    /* background-color: antiquewhite; */
    height: 100px;
}


/* 왼쪽 사이드바 로고 이미지 */
.nav-item-img {
    position: absolute;
    left: calc(50% - 43px);
    width: 86px;
}

/* 왼쪽 사이드바 전체*/
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* 상단 헤더 버튼 */
.btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar_login_wrap a:hover {
    color: #156549;
}

/* 로그인 */
.navbar_login,
.navbar_register {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}

.navbar_login::after {
    content: " | ";
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
}

/* 회원가입 */
.navbar_register {
    /* margin-left: 10px; */
}


/* 메인 컨텐츠 전체영역 */
.main_contents_wrap {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* background-color: #03c75a; */
}

/* 두번째 라인 컨텐츠 전체영역 */
.content_line2_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*두번째 줄 라인*/
.line2_content {
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
}

/* 실시간 정보 전체영역 */
.summoner_live_wrap {
    width: 100%;
    /* background-color: rgb(107, 164, 189); */
    height: 400px;
    padding: 5px;

}

/* 컨텐츠 */
.live_info_contents {
    border-radius: 10px;
    width: 33%;
    border: 1px solid #dadada;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 컨텐츠 한줄 전체영역 */
.live_info_wrap {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}

/*실시간 정보 에러 전체영역 */
.live_error_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* vs 전체영역 */
.live_info_vs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 게임 진행시간 , 큐타입  */
.live_info_match_type_text, .live_info_match_time {
    width: 25%;
}

/* vs 텍스트 */
.live_info_vs_text {
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.live_info_match_time {
    text-align: right;
}

/* 한줄 */
.live_info_list {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 좌우 플렉스 영역 */
.live_flex_wrap {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

/* 좌측 리스트 */
.live_left_wrap {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 소환사 티어 */
.live_summoner_tier {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 티어 텍스트 */
.live_summoner_tier_text {
    color: #fff;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

/* 소환사 닉네임 */
.live_summoner_name {
    display: flex;
    align-items: center;
}

/* 소환사 닉네임 텍스트 */
.live_summoner_name_text {
    margin: 0;
}

/* 스펠 / 챔피언 전체영역 */
.live_summoner_img_wrap {
    display: flex;
}

/* 소환사 스펠 */
.live_summoner_spell_wrap {
    display: flex;
    margin: 0 3px;
    flex-direction: column;
}

/* 스펠 이미지 */
.live_summoner_spell_wrap img {
    width: 20px;
    height: 20px;
}

/* 실시간 정보 타이틀 */
.summoner_live_title {
    height: 10%;
    display: flex;
    align-items: center;
}

/* 실시간 정보 타이틀  텍스트*/
.summoner_live_title_text {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #3a3b45;
}


/* 챔피언 이미지  */
.live_champion_face_wrap img {
    width: 40px;
    height: 40px;
}


/* 커뮤니티 , 로테이션 챔피언 크기 지정 */
.summoner_coummuity_wrap,
.rotation_champion_wrap {
    width: 49%;
    border: 1px solid rgb(234, 234, 234);
    /* background-color: pink; */
}

/* 커뮤니티 */
.summoner_coummuity_wrap {
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

/* 커뮤니티 리스트 전체영역 */
.community_list_wrap {
    display: flex;
    align-items: center;
    border-top: 1px dashed #838383;
    padding: 10px;
    justify-content: space-between;

    /* border:1px solid #000; */
}


.community_header {
    border-radius: 5px 5px 0 0;
}

/* 소수번째 행 스타일 지정 */
.first {
    border: none;
    background-color: #e6e6e6;
}

/* 커뮤니티 영역 타이틀 */
.community_main_title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3a3b45;
}


/* 게시글 번호 */
.community_index {
    display: flex;
    align-items: center;
    flex-basis: 55px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
}

/* 게시글 제목 */
.community_title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

/* 게시글 타이틀 전체영역 */
.community_title_wrap {
    display: flex;
    width: 50%;
}

/* 게시글 텍스트 전체영역  */
.community_text_wrap {
    width: 30%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.community_summoner_name,
.community_time {
    margin: 0;
}

/* 게시글 작성자 명 */
.community_summoner_name {
    font-weight: bold;
    color: #000;
    margin-left: 10px;
}

/* 로테이션 챔피언 전체영역 */
.rotation_champion_wrap {
    border-radius: 10px 10px 0 0;
}


/* 로테이션 챔피언 타이틀 */
.rotation_champion_title {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}


/* 로테이션 챔피언 타이틀 텍스트 */
.rotation_champion_title_text {
    color: #3a3b45;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

/* 로테이션 챔피언 리스트 전체영역 */
.rotation_champion_list {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

/* 챔피언 사진 , 이름 */
.rotation_champion_face_list {
    height: 80px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 챔피언 이미지 사이즈 */
.rotation_champion_face_list img {
    border-radius: 10px;
    width: 80px;
}

/* 챔피언 이름  */
.rotation_champion_name {
    text-align: center;
}