/* body 배경색 설정 */
body {
  height:900px;
  background-image: url('../img/member/mypage1.jpg');
  background-position: center;
  background-size: cover;
 }
 
 a{
  font-size:14px;
  color:#000;
  font-weight: bold;
 }

 a:hover{
  color:#156549;
  text-decoration: none;
 }
 /* 정보 영역 */
 .mypage{
  display: flex;
  justify-content: center;
  padding:50px;
 }

 .formNick {
  margin-bottom: 3rem;
}
/* 일러스트 */
.bg-login-image img{
  width: 100%;
  height: 100%;
}

/* 텍스트 박스*/

.textBox{
  margin-bottom: 3rem;
  padding: 0.75rem;
  text-align: center;
  border: 1px solid #d1d3e2;
  font-size: 0.8rem;
  border-radius: 10rem;
  
}

/* 로그인 버튼*/

.formBtn{
  display: flex;
  justify-content: space-between;
}

.editBtn{
  display: flex;
  width: 80px;
  height: 50px;
  background-color: #ff6f00;
  flex-direction: column;
  justify-content: center;
  border-radius: 10rem;
}
.editBtn:hover{
  background-color: #eb6600;
  color: #fff;
}

.checkBtn{
  display: flex;
  width: 80px;
  height: 50px;
  background-color: #156549;
  flex-direction: column;
  justify-content: center;
  border-radius: 10rem;
  width: 80px;
}
.checkBtn:hover{
  background-color: #12573f;
  color: #fff;
}
