<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- css -->
  <th:block th:replace="common/fragments/config :: configFragment"/>
  <link rel="stylesheet" href="/css/challenge-ranking.css ">
  <link rel="stylesheet" href="/css/challenge-ranking_media.css">
</head>


<body id="page-top">

  <div id="wrapper">
    <!-- 왼쪽 사이드바  -->
    <th:block th:replace="common/fragments/side :: sideFragment"/>

    <!-- 메인 컨텐츠 전체영역 -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- 검색창 -->
      <th:block th:replace="common/fragments/header :: headerFragment"/>

      <!-- 도전과제 프로필 전체영역 -->
      <div class="rank_profile">
        <div class="rank_profile_img">
          <img th:src="@{'/img/challenges-images/'+ ${challengeId}+'-CHALLENGER.png'}">
        </div>
        <div class="rank_prifile_text_wrap">
          <h1 class="rank_profile_text" th:text="${@challengesMapper.getChallengeInfoById(challengeId).getName()}"></h1>
          <p class="rank_profile_rank" th:text="${@challengesMapper.getChallengeInfoById(challengeId).getDescription()}"></p>
        </div>
      </div>

      <!-- 랭크 리스트 전체영역 -->
      <div class="rank_wrap">
        <div class="rank_list_wrap">
          <div class="rank_list rank_list_header">
            <div class="rank_number rank_flex">
              <p class="rank_number_text">
                랭킹
              </p>
            </div>
                <div class="rank_flex rank_title">
                  <h1 class="rank_name">
                    소환사 이름
                  </h1>
                </div>
                <div class="rank_flex rank_tier">
                  <p class="rank_tier_text">
                    티어
                  </p>
                </div>
    
                <!-- 랭킹 포인트 전체영역 -->
                <div class="rank_flex rank_points">
                  <p class="rank_points_text">점수</p>
                </div>
              </div>

          <!-- 랭크 리스트 -->
          <div class="rank_list" th:each="rank : ${ranking}">
            <div class="rank_number rank_flex">
              <p class="rank_number_text" th:text="${rank.position}">
                1
              </p>
            </div>
            <div class="rank_flex rank_title">
              <div class="rank_img rank_flex">
                <img th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.18.1/img/profileicon/' + ${rank.getProfileIcon()}+'.png'}">
              </div>
              <h1 class="rank_name"><a th:href="@{/summoner(summonerName=${rank.getName()})}" th:text="${rank.getName()}">>
                사각</a>
              </h1>
            </div>

            <div class="rank_flex rank_tier">
              <p class="rank_tier_text">
                Challenger
              </p>
            </div>

            <!-- 랭킹 포인트 전체영역 -->
            <div class="rank_flex rank_points">
              <!-- 랭킹 포인트 텍스트 -->
              <p class="rank_points_text"  th:text="${rank.value}">532</p>
            </div>
          </div>
          <!-- 랭크 리스트 1개 끝 -->
        </div>
        <!-- 랭크 리스트 전체영역 끝 -->
      </div>
      <!-- 컨텐츠 전체영역 끝 -->
    </div>
  </div>

  <!-- 자바 스크립트 -->
  <th:block th:replace="common/fragments/script :: scriptFragment"/>

</body>
</html>