<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragments/config :: configFragment" />
    <!-- 내 Stylce CSS 8/29일 추가됨  -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <!--   왼쪽 사이드바  -->
        <th:block th:replace="common/fragments/side :: sideFragment" />
        <!-- 메인 컨텐츠 전체영역 -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- 검색창 -->
            <th:block th:replace="common/fragments/header :: headerFragment"/>
            <!-- 중앙 컨텐츠 전체영역 -->
            <div class="main_contents_wrap">
                <!-- 실시간 정보 -->
                <div class="summoner_live_wrap">
                    <!-- 실시간 정보 - 타이틀 -->
                    <div class="summoner_live_title">
                        <h1 class="summoner_live_title_text">
                            실시간 상위게임 정보
                        </h1>
                    </div>
                    <!-- 실시간 정보 전체영역 -->
                    <div class="live_info_wrap">
                        <!-- 실시간 정보 1칸 전체영역 -->
                        <div class="live_info_contents" th:each="gameInfo : ${currentGameInfo}" th:with="summonersList=${gameInfo['summoners']}">
                            <div class="live_info_vs">
                                <!-- 큐타입 텍스트 -->
                                <p class="live_info_match_type_text" th:text="${gameInfo['gameQueueName']}">솔로 랭크</p>
                                <!-- VS 텍스트 -->
                                <h1 class="live_info_vs_text">
                                    VS
                                </h1>
                                <!-- 게임 진행시간 -->
                                <p class="live_info_match_time" th:text="${gameInfo['gameLength']}">
                                    12:01
                                </p>
                            </div>
                            <!-- 좌우 플렉스를 위한 전체영역 -->
                            <div class="live_flex_wrap">
                                <!-- 왼쪽 컨텐츠 -->
                                <div class="live_left_wrap">
                                    <!-- 실시간 정보 리스트 -->
                                    <div class="live_info_list" th:each="summoner,ds : ${summonersList}" th:if="${ds.index}<5">
                                        <!-- 소환사 티어 -->
                                        <div class="live_summoner_tier">
                                            <p class="live_summoner_tier_text" th:text="${summoner['summonerTier']}">
                                                C
                                            </p>
                                        </div>
                                        <!-- 소환사 닉네임 -->
                                        <div class="live_summoner_name">
                                            <p class="live_summoner_name_text" th:text="${summoner['summonerName']}">
                                                T1 란브로대머리
                                            </p>
                                        </div>
                                        <!-- 스펠 / 챔피언 -->
                                        <div class="live_summoner_img_wrap">
                                            <!-- 스펠  -->
                                            <div class="live_summoner_spell_wrap">
                                                <!-- 스펠1 -->
                                                <img src="img/spell/14.png" th:src="@{'img/spell/'+${summoner['spell1Id']}+'.png'}" alt="">
                                                <!-- 스펠2 -->
                                                <img src="img/spell/1.png" th:src="@{'img/spell/'+${summoner['spell2Id']}+'.png'}" alt="">
                                            </div>
                                            <!-- 챔피언 얼굴 -->
                                            <div class="live_champion_face_wrap">
                                                <img src="img/illust/1.jpg" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.18.1/img/champion/'+ ${summoner['championName']}+'.png'}" alt="">
                                            </div>
                                        </div>
                                        <!-- 스펠 / 챔피언 끝 -->
                                    </div>
                                    <!-- 실시간 정보 리스트 (1줄) 끝 -->
                                </div>
                                <!-- 왼쪽 컨텐츠 끝 -->
                                <!-- 우측 컨텐츠 시작 -->
                                <div class="live_left_wrap live_right_wrap">
                                    <!-- 실시간 정보 리스트 -->
                                    <div class="live_info_list" th:each="summoner,ds : ${summonersList}" th:if="${ds.index}> 4">
                                        <!-- 스펠 / 챔피언 -->
                                        <div class ="live_summoner_img_wrap">
                                            <!-- 챔피언 얼굴 -->
                                            <div class="live_champion_face_wrap">
                                                <img src="img/illust/1.jpg" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.18.1/img/champion/'+ ${summoner['championName']}+'.png'}" alt="">
                                            </div>
                                            <!-- 스펠  -->
                                            <div class="live_summoner_spell_wrap">
                                                <!-- 스펠1 -->
                                                <img src="img/spell/14.png" th:src="@{'img/spell/'+${summoner['spell1Id']}+'.png'}" alt="">
                                                <!-- 스펠2 -->
                                                <img src="img/spell/1.png" th:src="@{'img/spell/'+${summoner['spell2Id']}+'.png'}" alt="">
                                            </div>
                                        </div>
                                        <!-- 스펠 / 챔피언 끝 -->
                                        <!-- 소환사 닉네임 -->
                                        <div class="live_summoner_name">
                                            <p class="live_summoner_name_text" th:text="${summoner['summonerName']}">
                                                T1 란브로대머리
                                            </p>
                                        </div>
                                        <div class="live_summoner_tier">
                                            <p class="live_summoner_tier_text"  th:text="${summoner['summonerTier']}">
                                                C
                                            </p>
                                        </div>
                                    </div>
                                    <!-- 실시간 정보 리스트 (1줄) 끝 -->
                                </div>
                                <!-- 우측컨텐츠 끝 -->
                            </div>
                            <!-- 좌우 플렉스를 위한 전체영역 -->
                        </div>
                        <!-- 실시간 정보 (1칸) 끝 -->
                    </div>
                    <!-- 실시간 정보 (1줄) 전체영역  끝-->
                <!-- 두번째 라인 컨텐츠 전체영역 -->
                <div class="content_line2_flex line2_content">
                    <!-- 커뮤니티 -->
                    <div class="summoner_coummuity_wrap">
                        <h2 class="community_main_title">
                            BUSH.GG 최근 인기글
                        </h2>
                        <!-- 스타일이 다른 커뮤니티 리스트 2행을 묶기위한
                        전체 영역 -->
                        <!-- forEach -->
                        <div class="content_line2_flex">
                            <div class="community_list2_wrap">
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap first community_header">

                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap">

                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                            </div>
                        </div>
                     <!-- 커뮤니티 리스트2개 전체영역 끝  -->
                         <!-- 스타일이 다른 커뮤니티 리스트 2행을 묶기위한
                        전체 영역 -->
                        <!-- forEach -->
                        <div class="content_line2_flex">
                            <div class="community_list2_wrap">
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap first">

                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap">
                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                            </div>
                        </div>
                     <!-- 커뮤니티 리스트2개 전체영역 끝  -->
                         <!-- 스타일이 다른 커뮤니티 리스트 2행을 묶기위한
                        전체 영역 -->
                        <!-- forEach -->
                        <div class="content_line2_flex">
                            <div class="community_list2_wrap">
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap first">
                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap">
                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                            </div>
                        </div>
                     <!-- 커뮤니티 리스트2개 전체영역 끝  -->
                      <!-- 스타일이 다른 커뮤니티 리스트 2행을 묶기위한
                        전체 영역 -->
                        <!-- forEach -->
                        <div class="content_line2_flex">
                            <div class="community_list2_wrap">
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap first">
                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                                <!-- 커뮤니티 리스트 전체영역 -->
                                <div class="community_list_wrap">
                                    <!-- 타이틀 구간 전체영역 -->
                                    <div class="community_title_wrap">
                                        <!-- 게시글 번호 -->
                                        <div class="community_index">
                                            1
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h1 class="community_title">
                                            오늘 보쌈 기?
                                        </h1>
                                    </div>
                                    <!-- 텍스트 구간 전체영역-->
                                    <div class="community_text_wrap">
                                        <!-- 몇시간전 -->
                                        <p class="community_time">
                                            24시간전
                                        </p>
                                        <!-- 게시글 작성자 네임 -->
                                        <p class="community_summoner_name">
                                            란브로대머리
                                        </p>
                                    </div>
                                    <!-- 텍스트 구간 끝 -->
                                </div>
                                <!-- 커뮤니티 리스트 끝 -->
                            </div>
                        </div>
                     <!-- 커뮤니티 리스트2개 전체영역 끝  -->
                    </div>
                    <!-- 커뮤니티 끝  -->
                    <!-- 로테이션 챔피언 -->
                    <div class="rotation_champion_wrap">
                        <!-- 로테이션 타이틀 -->
                       <div class="rotation_champion_title">
                        <!-- 로테이션 타이틀 텍스트 -->
                        <h1 class="rotation_champion_title_text">
                            금주의 로테이션 챔피언
                        </h1>
                       </div>
                       <!-- 로테이션 타이틀 끝 -->
                       <!-- 로테이션 챔피언 목록 1줄 -->
                       <div class="rotation_champion_list">
                            <!-- 챔피언 사진 , 이름 -->
                           <div class="rotation_champion_face_list" th:each="championNameEn, iterStat : ${championNamesEn}" th:if="${iterStat.index < 5}" th:with="count=${iterStat.index}">
                               <!-- 챔피언 이미지 대신 티어사진으로 대체함 -->
                               <img src="img/tier/Challenger.png" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.17.1/img/champion/' + ${championNameEn} + '.png'}" alt="">
                               <!-- 챔피언 이름 :: 영어이름이라도 넣어주세요 -->
                               <p class="rotation_champion_name" th:text="${championNamesKo[count]}">Faker</p>
                           </div>
                            <!-- 챔피언 사진 , 이름 끝 -->
                        </div>
                       <!-- 로테이션 챔피언 목록 (1줄) 끝 -->
                        <!-- 로테이션 챔피언 목록 1줄 -->
                        <div class="rotation_champion_list">
                            <!-- 챔피언 사진 , 이름 -->
                            <div class="rotation_champion_face_list" th:each="championNameEn, iterStat : ${championNamesEn}" th:if="${iterStat.index > 4 && iterStat.index < 10}" th:with="count=${iterStat.index}">
                                <!-- 챔피언 이미지 대신 티어사진으로 대체함 -->
                                <img src="img/tier/Challenger.png" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.17.1/img/champion/' + ${championNameEn} + '.png'}" alt="">
                                <!-- 챔피언 이름 :: 영어이름이라도 넣어주세요 -->
                                <p class="rotation_champion_name" th:text="${championNamesKo[count]}">Faker</p>
                            </div>
                            <!-- 챔피언 사진 , 이름 끝 -->
                       </div>
                       <!-- 로테이션 챔피언 목록 (1줄) 끝 -->
                        <!-- 로테이션 챔피언 목록 1줄 -->
                        <div class="rotation_champion_list">
                            <!-- 챔피언 사진 , 이름 -->
                            <div class="rotation_champion_face_list" th:each="championNameEn, iterStat : ${championNamesEn}" th:if="${iterStat.index > 9 && iterStat.index < 15}" th:with="count=${iterStat.index}">
                                <!-- 챔피언 이미지 대신 티어사진으로 대체함 -->
                                <img src="img/tier/Challenger.png" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.17.1/img/champion/' + ${championNameEn} + '.png'}" alt="">
                                <!-- 챔피언 이름 :: 영어이름이라도 넣어주세요 -->
                                <p class="rotation_champion_name" th:text="${championNamesKo[count]}">Faker</p>
                            </div>
                            <!-- 챔피언 사진 , 이름 끝 -->
                       </div>
                       <!-- 로테이션 챔피언 목록 (1줄) 끝 -->
                        <!-- 로테이션 챔피언 목록 1줄 -->
                        <div class="rotation_champion_list">
                            <!-- 챔피언 사진 , 이름 -->
                            <div class="rotation_champion_face_list" th:each="championNameEn, iterStat : ${championNamesEn}" th:if="${iterStat.index > 14}" th:with="count=${iterStat.index}">
                                <!-- 챔피언 이미지 대신 티어사진으로 대체함 -->
                                <img src="img/tier/Challenger.png" th:src="@{'http://ddragon.leagueoflegends.com/cdn/13.17.1/img/champion/' + ${championNameEn} + '.png'}" alt="">
                                <!-- 챔피언 이름 :: 영어이름이라도 넣어주세요 -->
                                <p class="rotation_champion_name" th:text="${championNamesKo[count]}">Faker</p>
                            </div>
                            <!-- 챔피언 사진 , 이름 끝 -->
                        </div>
                        <!-- 로테이션 챔피언 목록 (1줄) 끝 -->
                    </div>
                    <!-- 로테이션 끝 -->
                </div>
                <!-- 두번째 라인 컨텐츠 전체영역 끝 -->
            </div>
            <!-- 중앙 컨텐츠 전체영역 끝 -->
        </div>
    </div>
    <!--  메인 컨텐츠 끝 -->
</div>
<!--   자바 스크립트 -->
<th:block th:replace="common/fragments/script :: scriptFragment"/>
</body>
</html>