<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- css -->
<th:block th:replace="common/fragments/config :: configFragment" />


<body id="page-top">
        <!--   왼쪽 사이드바  -->
        <th:block th:replace="common/fragments/side :: sideFragment" />
        <!-- 메인 컨텐츠 전체영역 -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- 검색창 -->
            <th:block th:replace="common/fragments/header :: headerFragment"/>


        </div>
        <!--  메인 컨텐츠 끝 -->

    <!--   자바 스크립트 -->
    <th:block th:replace="common/fragments/script :: scriptFragment"/>




</body>

</html>