<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="common/fragments/config :: configFragment"/>
  <!-- 소환사 랭킹 css -->
  <link rel="stylesheet" href="css/summoner-ranking.css">

</head>
<body id="page-top">
<div id="wrapper">
  <th:block th:replace="common/fragments/side :: sideFragment"/>
  <!-- 메인 컨텐츠 전체영역 -->
  <div id="content-wrapper" class="d-flex flex-column">

    <th:block th:replace="common/fragments/header :: headerFragment"/>


    <!-- 소환사 랭크 전체영역 -->
    <div class="summoner_rank_wrap">
      <!-- 소환사 랭크 header 전체영역 -->
      <div class="summoner_rank_profile_wrap">

        <!-- 소환사 랭크 header Line1 전체영역 -->
        <div class="summoner_rank_profile">
          <!-- Bush.gg 아이콘 -->
          <div class="summoner_rank_profile_img">
            <img src="img/logo.png" alt="">
          </div>

          <!-- 솔로랭크 , 소환사랭킹 -->
          <div class="summoner_rank_profile_name">
            <!-- 랭킹리스트 타입 -->
            <h1 class="summoner_rank_type">
              솔로 랭크
            </h1>

            <!-- 소환사 랭킹 -->
            <p class="summoner_ranking">
              소환사 랭킹
            </p>
          </div>

        </div>
        <!-- 소환사 랭크 header Line1 전체영역 끝 -->

        <!-- 그랜드마스터 , 챌린저 점수컷 전체영역 -->
        <div class="summoner_rank_cut">
          <!-- 챌린저 -->
          <div class="summoner_rank_challenger">
            <!-- 챌린저 이미지 -->
            <img src="img/tier/Challenger.png" alt="">
            <!-- 챌린저 점수컷 텍스트 -->
            <p class="summoner_rank_challenger_text" th:text="${challengerPoint}+'p'">1500p</p>
          </div>

          <!-- 그랜드마스터 -->
          <div class="summoner_rank_grandmaster">
            <!-- 그랜드마스터 이미지 -->
            <img src="img/tier/GrandMaster.png" alt="">
            <!-- 그랜드마스터 점수컷 텍스트 -->
            <p class="summoner_rank_grandmaster_text" th:text="${grandmasterPoint}+'p'">1000p</p>
          </div>

        </div>
        <!-- 그랜드마스터 , 챌린저 점수컷 전체영역 끝 -->

      </div>
      <!-- 소환사 header 전체영역 끝 -->

      <!-- 소환사 랭크 리스트 전체영역 -->
      <div class="summoner_rank_list_wrap">
        <!-- 소환사 랭크 리스트 테이블 전체영역 -->
        <table class="summoner_rank_table">
          <!-- 테이블 헤더 -->
          <thead>
          <tr>
            <!-- 5 -->
            <td class="rank_table_header_number">#</td>
            <!-- 25 -->
            <td class="rank_table_header_name">소환사명</td>
            <!-- 15 -->
            <td class="rank_table_header_tier">티어</td>
            <!-- 15 -->
            <td class="rank_table_header_lp">LP</td>
            <!-- 10 -->
            <td class="rank_table_header_rate">승률</td>
            <td class="rank_table_header_win">승</td>
            <td class="rank_table_header_lose">패</td>
          </tr>
          </thead>

          <!-- 테이블 내용 (1행) forEach-->
          <tbody class="summoner_rank_table_body">
          <tr th:each="ranking, iterStat : ${challengerRanking}">
            <!-- 랭킹등수 -->
            <td class="rank_table_number" th:text="${(page - 1) * 100 + iterStat.count}">1</td>

            <!-- 소환사명 -->
            <td class="rank_table_name" th:text="${ranking.getSummonerName()}">사각</td>
            <!-- 티어 -->
            <td class="rank_table_tier" >
              <!-- 티어 이미지 -->
              <img src="img/tier/Challenger.png" th:src="@{'img/tier/' + ${ranking.getTier()} + '.png'}" alt="">
              <!-- 티어명 -->
              <p th:text=" ${ranking.getTier()} ">Challenger</p>
            </td>
            <!-- Lp -->
            <td class="rank_table_lp" th:text="${ranking.getLeaguePoints()}">1799p</td>
            <!-- 승률 -->
            <td class="rank_table_rate" th:text="${ranking.getWinRate()+'%'}">80%</td>
            <!-- 승 -->
            <td class="rank_table_win" th:text="${ranking.getWins()}">80</td>
            <!-- 패 -->
            <td class="rank_table_lose" th:text="${ranking.getLosses()}">20</td>
          </tr>
          </tbody>
          <!-- 테이블 내용 (1행) 끝 -->
        </table>
      </div>
      <!-- 소환사 랭크 테이블 전체영역 끝 -->

      <!-- 랭크 페이징 버튼 -->
      <div class="summoner_rank_page_bt">
        <!-- 버튼 위치 조정을 위한 전체영역 -->
        <div class="summoner_rank_page_flex">
          <!-- 이전 버튼 -->
          <a href="/ranking?page=1" class="summoner_rank_page summoner_rank_page_previous">
            << </a>
          <!-- 1 -->
          <!-- 현재 페이지를 나타내는 페이지에
          on 클래스가 붙으면서 현재페이지임을 스타일로 지정 -->
          <a href="/ranking?page=1" th:class="${page == 1 ? 'on' : ''}" class="summoner_rank_page on">
            1
          </a>

          <!-- 2 -->
          <a href="/ranking?page=2" th:class="${page == 2 ? 'on' : ''}" class="summoner_rank_page">
            2
          </a>

          <!-- 3 -->
          <a href="/ranking?page=3" th:class="${page == 3 ? 'on' : ''}" class="summoner_rank_page">
            3
          </a>

          <!-- 4 -->
          <a href="/ranking?page=4" th:class="${page == 4 ? 'on' : ''}" class="summoner_rank_page">
            4
          </a>

          <!-- 5 -->
          <a href="/ranking?page=5" th:class="${page == 5 ? 'on' : ''}" class="summoner_rank_page">
            5
          </a>

          <a href="/ranking?page=6" th:class="${page == 6 ? 'on' : ''}" class="summoner_rank_page">
            6
          </a>

          <a href="/ranking?page=7" th:class="${page == 7 ? 'on' : ''}" class="summoner_rank_page">
            7
          </a>

          <a href="/ranking?page=8" th:class="${page == 8 ? 'on' : ''}" class="summoner_rank_page">
            8
          </a>

          <a href="/ranking?page=9" th:class="${page == 9 ? 'on' : ''}" class="summoner_rank_page">
            9
          </a>

          <a href="/ranking?page=10" th:class="${page == 10 ? 'on' : ''}" class="summoner_rank_page">
            10
          </a>

          <!-- 다음버튼 -->
          <a href="/ranking?page=10" class="summoner_rank_page summoner_rank_page_next">
            >>
          </a>
        </div>
        <!-- 버튼 위치조정을 위한 전체영역 끝 -->
      </div>
      <!-- 페이징 전체영역 끝 = -->
    </div>
    <!-- 소환사 랭크 전체영역 끝 -->
  </div>
  <!--  메인 컨텐츠 끝 -->
<th:block th:replace="common/fragments/script :: scriptFragment"/>
</body>
</html>