<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="common/fragments/config :: configFragment"/>
  <link rel="stylesheet" href="/css/summoner-ranking.css">
  <link rel="stylesheet" href="/css/summoner-ranking_media.css">
</head>
<body id="page-top">
  <div id="wrapper">
    <th:block th:replace="common/fragments/side :: sideFragment"/>
    <!-- 메인 컨텐츠 전체영역 -->
    <div id="content-wrapper" class="d-flex flex-column">

      <th:block th:replace="common/fragments/header :: headerFragment"/>
      <!-- 소환사 랭크 전체영역 -->
      <div class="summoner_rank_wrap">
        <div class="summoner_rank_profile_wrap">
          <div class="summoner_rank_profile">
            <div class="summoner_rank_profile_img">
              <img src="img/logo.png" alt="">
            </div>
            <div class="summoner_rank_profile_name">
              <h1 class="summoner_rank_type">
                솔로 랭크
              </h1>
              <p class="summoner_ranking">
                소환사 랭킹
              </p>
            </div>
          </div>

          <!-- 그랜드마스터 , 챌린저 점수컷 전체영역 -->
          <div class="summoner_rank_cut">
            <div class="summoner_rank_challenger">
              <img src="img/tier/Challenger.png" alt="">
              <p class="summoner_rank_challenger_text" th:text="${challengerPoint}+'p'">1500p</p>
            </div>
            <div class="summoner_rank_grandmaster">
              <img src="img/tier/GrandMaster.png" alt="">
              <p class="summoner_rank_grandmaster_text" th:text="${grandmasterPoint}+'p'">1000p</p>
            </div>
          </div>
        </div>

        <!-- 소환사 랭크 리스트 전체영역 -->
        <div class="summoner_rank_list_wrap">
          <table class="summoner_rank_table">
            <thead>
            <tr>
              <td class="rank_table_header_number">#</td>
              <td class="rank_table_header_name">소환사명</td>
              <td class="rank_table_header_tier">티어</td>
              <td class="rank_table_header_lp">LP</td>
              <td class="rank_table_header_rate">승률</td>
              <td class="rank_table_header_win">승</td>
              <td class="rank_table_header_lose">패</td>
            </tr>
            </thead>

            <tbody class="summoner_rank_table_body">
            <tr th:each="ranking, iterStat : ${challengerRanking}">
              <td class="rank_table_number" th:text="${(page - 1) * 100 + iterStat.count}">1</td>
              <td class="rank_table_name"><a th:href="@{/summoner(summonerName=${ranking.getSummonerName()})}" th:text="${ranking.getSummonerName()}">사각</a></td>
              <td class="rank_table_tier" >
              <img src="img/tier/Challenger.png" th:src="@{'img/tier/' + ${ranking.getTier()} + '.png'}" alt="">
              <p th:text=" ${ranking.getTier()} ">Challenger</p>
            </td>
              <td class="rank_table_lp" th:text="${ranking.getLeaguePoints()}">1799p</td>
              <td class="rank_table_rate" th:text="${ranking.getWinRate()+'%'}">80%</td>
              <td class="rank_table_win" th:text="${ranking.getWins()}">80</td>
              <td class="rank_table_lose" th:text="${ranking.getLosses()}">20</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- 랭크 페이징 버튼 -->
        <div class="summoner_rank_page_bt">
          <div class="summoner_rank_page_flex">
            <a href="/ranking?page=1" class="summoner_rank_page summoner_rank_page_previous">
            << </a>
            <a href="/ranking?page=1" th:class="${page == 1 ? 'on' : ''}" class="summoner_rank_page on">
              1
            </a>
            <a href="/ranking?page=2" th:class="${page == 2 ? 'on' : ''}" class="summoner_rank_page">
              2
            </a>
            <a href="/ranking?page=3" th:class="${page == 3 ? 'on' : ''}" class="summoner_rank_page">
              3
            </a>
            <a href="/ranking?page=4" th:class="${page == 4 ? 'on' : ''}" class="summoner_rank_page">
              4
            </a>
            <a href="/ranking?page=5" th:class="${page == 5 ? 'on' : ''}" class="summoner_rank_page">
              5
            </a>
            <a href="/ranking?page=6" th:class="${page == 6 ? 'on' : ''}" class="summoner_rank_page">
              6
            </a>
            <a href="/ranking?page=7" th:class="${page == 7 ? 'on' : ''}" class="summoner_rank_page">
              7
            </a>
            <a href="/ranking?page=8" th:class="${page == 8 ? 'on' : ''}" class="summoner_rank_page">
              8
            </a>
            <a href="/ranking?page=9" th:class="${page == 9 ? 'on' : ''}" class="summoner_rank_page">
              9
            </a>
            <a href="/ranking?page=10" th:class="${page == 10 ? 'on' : ''}" class="summoner_rank_page">
              10
            </a>
            <a href="/ranking?page=10" class="summoner_rank_page summoner_rank_page_next">
            >>
            </a>
          </div>
        </div>
      </div>
    </div>

    <th:block th:replace="common/fragments/script :: scriptFragment"/>
  </div>
</body>
</html>